.container {
    max-width: 1100px;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
  }
  
  .list-group-item {
    font-size: 1rem;
    padding: 10px;
  }
  
  .list-group {
    width: 100%;
  }
  